@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input {
        @apply bg-transparent outline-none transition-all p-1 focus:outline-violet-600 border-b-2 border-gray-600
    }

    button {
        @apply bg-transparent border border-violet-600 p-1 rounded-full hover:border-violet-400 transition-colors active:border-violet-950 w-full
    }

    a {
        @apply hover:underline
    }
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}


p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}